# Local secrets (do not commit)
beauty/Config/Supabase.xcconfig
# macOS
.DS_Store

# Xcode
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
DerivedData/
build/

# SwiftPM
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Local-only
.tools/
SSH
Settings
beauty.xcodeproj/project.xcworkspace/xcshareddata/
